{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "last 1 version",
          "node": 4
        },
        "loose": true
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    "precompile-charcodes"
  ]
}
