{
    "ecmaFeatures": {
        "modules": true,
        "module":  true
    },
    "rules": {
        "no-unused-expressions": [0],
        "no-underscore-dangle":  [0],
        "no-reserved-keys":      [2],
        "no-multi-spaces":       [0],
        "no-extra-parens":       [2],
        "no-unused-vars":        [2],
        "no-loop-func":          [0],
        "key-spacing":           [0],
        "max-len":               [2],
        "strict":                [0],
        "indent":                [2],
        "quotes":                [2, "single", "avoid-escape"],
        "curly":                 [0]
    },
    "env": {
        "mocha": true,
        "node":  true,
        "es6":   true
    }
}
