a {
    width: 1px!important;
    color: black  !important ;
}

p {
    prop: important;
    color: red important;
    margin: 10px      !      important;
    padding: 20px     !  /* test */   important;
    width: 100px ! /*! test */ important;
    height: 100px /*! test */ important;
}
