name: Test
on:
  push:
  pull_request:
jobs:
  full:
    name: Node.js 17 Full
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 17
          cache: yarn
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Run tests
        run: yarn test
        env:
          FORCE_COLOR: 2
  short:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 16
          - 14
          - 12
          - 10
    name: Node.js ${{ matrix.node-version }} Quick
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: Install dependencies
        run: yarn --frozen-lockfile --ignore-engines
      - name: Run unit tests
        run: yarn unit
        env:
          FORCE_COLOR: 2
  windows:
    runs-on: windows-latest
    name: Windows Quick
    env:
      YARN_GPG: "no"
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Install Node.js LTS
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: yarn
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run unit tests
        run: yarn uvu -r tsm test ^.*test.([tj]s)
        env:
          FORCE_COLOR: 2
